/* Reset and basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Default light theme */
body {
  background-color: #fff;
  color: #333;
}

/* Dark theme */
body.dark-theme {
  background-color: #333;
  color: #fff;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.login-link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px; /* Adjust margin as needed */
}

.theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px; /* Adjust margin as needed */
}

.toggle-icon {
  font-size: 1.5rem;
  margin-left: 5px;
}

/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  padding-top: 20px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px 20px;
}

.sidebar-menu li a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar-icon {
  margin-right: 10px;
}

.sidebar-menu li a:hover {
  background-color: #ddd;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}

.content {
  margin-left: 250px;
  padding: 20px;
}
