/* Reset and basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Default light theme */
body {
  background-color: #fff;
  color: #333;
}

/* Dark theme */
body.dark-theme {
  background-color: #333;
  color: #fff;
}

/* Navbar styles */
:root {
  --chakra-colors-gray-800: #2d3748;
  --chakra-colors-blue-500: #4299e1;
  --chakra-colors-blue-600: #3182ce;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--chakra-colors-gray-800);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-left: 13%;
  margin-top: -2rem;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  margin-right: 10px;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.theme-toggle {
  cursor: pointer;
  margin-right: 20px;
}

.toggle-icon {
  font-size: 1.5rem;
}

.login-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  background-color: var(--chakra-colors-blue-500);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.login-link:hover {
  background-color: var(--chakra-colors-blue-600);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-actions {
    margin-top: 10px;
  }

  .login-link {
    padding: 6px 12px;
    font-size: 0.9rem;
  }

  .theme-toggle {
    margin-right: 10px;
  }
}

/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  padding-top: 20px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px 20px;
}

.sidebar-menu li a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar-icon {
  margin-right: 10px;
}

.sidebar-menu li a:hover {
  background-color: #ddd;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}

.content {
  margin-left: 250px;
  padding: 20px;
}
